body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 400px;
}
.box {
  text-align: center;
}
.bulb-container {
  position: relative;
  height: 400px;
  width: 400px;
}
.bulb-container img {
  position: absolute;
}
#bulbOff {
  display: none;
}
#bulbOn {
  display: none;
}

#bulbOff.on {
  display: block;
}

#bulbOn.on {
  display: block;
}

button {
  cursor: pointer;
  border: 1px solid rgb(223, 146, 4);
  background: rgb(223, 146, 4);
  color: white;
  padding: 10px 20px;
}

button.off {
  background-color: black;
}
